<!DOCTYPE html>
<html>
  <head>
    <title>My First Vue App: Two-Way Binding</title>
  </head>
  <body>
    <h1>Lesson 3: Two-Way Binding & Reacting to Changes in Computed Properties</h1>
    <div id="lesson3">
      <input type="text" v-model="name">
      <p>{{ name }}</p>
      <hr>
      <button v-on:click="counter++">Increase</button>
      <button v-on:click="counter--">Decrease</button>
      <button v-on:click="secondCounter++">Increase Second Counter</button>
      <p><strong>Counter:</strong> {{ counter }} | <strong>Second Counter:</strong> {{ secondCounter }}</p>
      <p><strong>Result:</strong> {{ result() }} | <strong>Output:</strong> {{ output }}</p>
    </div>

    <script src="https://unpkg.com/vue/dist/vue"></script>
    <script src="../scripts/lesson3.js"></script>
  </body>
</html>
