<!DOCTYPE html>
<html>
  <head>
    <title>My First Vue App: Dynamic Styling</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/lesson4.css">
  </head>
  <body>
    <h1>Lesson 4: Dynamic Styling</h1>
    <div id="lesson4">
      <div class="demo" v-on:click="attachRed = !attachRed" v-bind:class="divClasses"></div>
      <div class="demo" v-bind:style="[myStyle, {height: width + 'px'}]"></div>
      <div class="demo" v-bind:class="color" v-bind:style="[{height: width + 'px'}]"></div>
      <hr>
      <input type="text" v-model="color">
      <hr>
      <div class="demo" v-bind:style="{backgroundColor: color}"></div>
      <div class="demo" v-bind:style="myStyle"></div>
      <div class="demo" v-bind:class="'blue'"></div>
      <input type="text" v-model="color">
      <input type="text" v-model="width">
      <hr>
      <h3><a href="exercises4.html">Unit 4 Exercises</a></h3>

    </div>
    <script src="https://unpkg.com/vue/dist/vue"></script>
    <script src="../scripts/lesson4.js"></script>
  </body>
</html>
